@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #fcfcfc;
  font-family: Sofia Sans, Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Mulish", Arial, sans-serif;
  margin: 0;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}

main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}

.home-title {
  font-family: "Mulish", Arial, sans-serif;
  font-size: 2em;
  margin-top: 10px;
}

.button-box {
  text-align: center;
}

#background {
  background-color: #eebf87;
  height: 725px;
}

header {
  background-color: #eebf87;
  color: #1d515c;
}
nav a {
  text-decoration: none;
  color: #1d515c;
  text-align: center;
  padding: 35px;
}
nav a:hover {
  background-color: #5b8f8d;
  color: #fff;
}
.book,
.join {
  background-color: #eebf87;
  color: #1d515c;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover,
.join:hover {
  background-color: #5b8f8d;
  color: #fff;
}
.msg {
  background-color: #eebf87;
  color: #1d515c;
  line-height: 1.5em;
  padding: 35px;
}
.msg p {
  font-size: 0.8em;
  padding-bottom: 15px;
}
footer {
  background-color: #eebf87;
  color: #1d515c;
  padding: 25px 50px;
  margin-top: 200px;
}

footer p {
  font-size: 1.2em;
}

footer p a {
  color: #1d515c;
  text-decoration: none;
}

footer p a:hover {
  background-color: #5b8f8d;
  color: #fff;
  text-decoration: underline;
}

footer .social img {
  padding-top: 15px;
}

.logo,
.icon {
  width: 80px;
}
.icon {
  padding-top: 10px;
}
#hero-img {
  width: 100%;
}

#logo_link {
  padding-top: 5px;
}
.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}
.card-img {
  border: 10px solid #eebf87;
}
